@font-face
    font-family 'habana'
    src url('/fonts/Habana.ttf') format('ttf')

#header
    position absolute
    width 100%
    z-index 999
    .header-content
        margin 0 auto
        max-width 1170px
        padding 60px 0
        width 100%
        -moz-transition padding 0.3s
        -o-transition padding 0.3s
        -webkit-transition padding 0.3s
        transition padding 0.3s
    .logo
        font-family habana
        float left
        font-size 55px
        font-weight 700
        color #fff
        text-decoration none
    &.fixed
        background-color #fff
        a
            color #000
        .header-content
            border-bottom 0
            padding 25px 0
        .nav-toggle
            top 18px
            color #000

.navigation
    float right
    &.open
        opacity 0.9
        visibility visible
        -moz-transition opacity 0.5s
        -o-transition opacity 0.5s
        -webkit-transition opacity 0.5s
        transition opacity 0.5s
    li
        display inline-block
    a
        color rgba(255, 255, 255, 0.75)
        font-size 13px
        font-weight 700
        margin-left 40px
        text-transform uppercase

.navigation a:hover, .navigation a.active
    color #fff

.nav-toggle
    display none
    height 44px
    overflow hidden
    position fixed
    right 5%
    text-indent 100%
    top 32px
    white-space nowrap
    width 44px
    z-index 99999
    -moz-transition all 0.3s
    -o-transition all 0.3s
    -webkit-transition all 0.3s
    transition all 0.3s
    &:before
        background-color #e84545
        -moz-transform scale(1)
        -ms-transform scale(1)
        -webkit-transform scale(1)
        transform scale(1)
        -moz-transition-duration 0.3s
        -o-transition-duration 0.3s
        -webkit-transition-duration 0.3s
        transition-duration 0.3s
    &:after
        background-color #e84545
        -moz-transform scale(0)
        -ms-transform scale(0)
        -webkit-transform scale(0)
        transform scale(0)
        -moz-transition-duration 0s
        -o-transition-duration 0s
        -webkit-transition-duration 0s
        transition-duration 0s
    span
        background-color #fff
        bottom auto
        display inline-block
        height 3px
        left 50%
        position absolute
        right auto
        top 50%
        width 18px
        z-index 10
        -moz-transform translateX(-50%) translateY(-50%)
        -ms-transform translateX(-50%) translateY(-50%)
        -webkit-transform translateX(-50%) translateY(-50%)
        transform translateX(-50%) translateY(-50%)
        &:before
            -moz-transform translateY(-6px) rotate(0deg)
            -ms-transform translateY(-6px) rotate(0deg)
            -webkit-transform translateY(-6px) rotate(0deg)
            transform translateY(-6px) rotate(0deg)
        &:after
            -moz-transform translateY(6px) rotate(0deg)
            -ms-transform translateY(6px) rotate(0deg)
            -webkit-transform translateY(6px) rotate(0deg)
            transform translateY(6px) rotate(0deg)
    &.close-nav
        &:before
            -moz-transform scale(0)
            -ms-transform scale(0)
            -webkit-transform scale(0)
            transform scale(0)
        &:after
            -moz-transform scale(1)
            -ms-transform scale(1)
            -webkit-transform scale(1)
            transform scale(1)
        span
            background-color rgba(255, 255, 255, 0)
            &:before
                -moz-transform translateY(0) rotate(45deg)
                -ms-transform translateY(0) rotate(45deg)
                -webkit-transform translateY(0) rotate(45deg)
                transform translateY(0) rotate(45deg)
            &:after
                -moz-transform translateY(0) rotate(-45deg)
                -ms-transform translateY(0) rotate(-45deg)
                -webkit-transform translateY(0) rotate(-45deg)
                transform translateY(0) rotate(-45deg)

.nav-toggle:before, .nav-toggle:after
    border-radius 50%
    content ""
    height 100%
    left 0
    position absolute
    top 0
    width 100%
    -moz-transform translateZ(0)
    -ms-transform translateZ(0)
    -webkit-transform translateZ(0)
    transform translateZ(0)
    -moz-backface-visibility hidden
    -webkit-backface-visibility hidden
    backface-visibility hidden
    -moz-transition-property -moz-transform
    -o-transition-property -o-transform
    -webkit-transition-property -webkit-transform
    transition-property transform

.nav-toggle span:before, .nav-toggle span:after
    background-color #fff
    content ""
    height 100%
    position absolute
    right 0
    top 0
    width 100%
    -moz-transform translateZ(0)
    -ms-transform translateZ(0)
    -webkit-transform translateZ(0)
    transform translateZ(0)
    -moz-backface-visibility hidden
    -webkit-backface-visibility hidden
    backface-visibility hidden
    -moz-transition -moz-transform 0.3s
    -o-transition -o-transform 0.3s
    -webkit-transition -webkit-transform 0.3s
    transition transform 0.3s

.nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after
    background-color #fff

.banner
    background #0FA0CA
    height 100vh

.banner-text
    padding-top 22%
    h1
        color #fff
        font-family "Open Sans", Arial, sans-serif
        font-size 35px
        font-weight 700
        text-transform uppercase
    p
        color rgba(255, 255, 255, 0.60)
        font-size 16px
        font-weight 400
        line-height 24px
        margin-top 30px
        margin-bottom 80px

.apps
    button
        background transparent
        border none
        padding-top 25px

#program
    margin-top 20px
    margin-bottom 20px
    padding-top 15px
    padding-bottom 15px

#feature
    background-color #E4F1FE
    text-align center
    color #01121C
    padding 70px 0 70px
    h1
        text-align center
    p
        text-align center
        padding-bottom 25px

.feature-desc
    padding-top 60px

#browser
    padding 70px 0 70px
    h1
        padding-top 150px

.browser-img
    float right

#vid
    padding 70px 0 70px
    background #F9F7F9
    h1
        text-align center
    p
        text-align center
        max-width 500px
        margin auto

#testimonial
    h1
        text-align center
    p
        text-align center

